.App {
  text-align: center;
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    height: 10vh;

  }
}

.App-header {
  background-color: #444444;
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(15px + 1vmin);
  font-weight: bold;
  color: white;
}

.App-link {
  color: #61dafb;
}

.Searchbar {
  padding-top: 10px;
}

.App-pagination {
  width: 250px;
  margin: auto;
  display: flex;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  font-weight: bold;
}

.App-pagination-border {
  background-color: darkred;
  padding: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
